<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>750</integer>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>WO Navajo</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>81g9yRhFoY</string>
        <key>x</key>
        <real>328.3225775805607</real>
        <key>y</key>
        <real>98.2805620772362</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>zcvHErZsEq</string>
        <key>x</key>
        <integer>52</integer>
        <key>y</key>
        <integer>-1</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>4TKwtqYfdS</string>
        <key>x</key>
        <integer>-75</integer>
        <key>y</key>
        <integer>198</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Kjca02AI8A</string>
        <key>x</key>
        <integer>179</integer>
        <key>y</key>
        <integer>299</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>AIZcxcB2MR</string>
        <key>x</key>
        <integer>207</integer>
        <key>y</key>
        <integer>399</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>XZDmm9mKf3</string>
        <key>x</key>
        <integer>254</integer>
        <key>y</key>
        <integer>499</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>90.0</real>
        <key>identifier</key>
        <string>8RKr1XVyAT</string>
        <key>x</key>
        <integer>65</integer>
        <key>y</key>
        <integer>53</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>90.0</real>
        <key>identifier</key>
        <string>6jTno6ZzmM</string>
        <key>x</key>
        <integer>165</integer>
        <key>y</key>
        <integer>308</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>90.0</real>
        <key>identifier</key>
        <string>u50NPv747s</string>
        <key>x</key>
        <integer>265</integer>
        <key>y</key>
        <integer>512</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>90.0</real>
        <key>identifier</key>
        <string>RNJpNtM2do</string>
        <key>x</key>
        <integer>365</integer>
        <key>y</key>
        <integer>477</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>90.0</real>
        <key>identifier</key>
        <string>0I78CP64X4</string>
        <key>x</key>
        <integer>464</integer>
        <key>y</key>
        <integer>367</integer>
      </dict>
    </array>
    <key>openTypeNameDesigner</key>
    <string>woshibide</string>
    <key>openTypeNameLicense</key>
    <string>SIL Open Font License (OFL), version 1.1</string>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
